# SPDX-FileCopyrightText: 2026 Roadmatics Technologies
# SPDX-License-Identifier: AGPL-3.0-or-later
# Approved and installed on the Matrix host on 2026-09-29.
# Destination: /etc/matrix-synapse/conf.d/roadmatics-push.yaml
# Preserve any other allowlist entries when reusing this example.
# This allows outbound access to this IP on ALL ports, not only Sygnal port 5000.
ip_range_whitelist:
  - '127.0.0.1/32'
